@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
    --font-opensans:'Open Sans', sans-serif;
    --font-serif: 'PT Serif', serif;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
h2{
    font-family: var(--font-opensans);
    margin: 0px;
    border: 0px;
}
p{
    padding: 0.5rem;
    margin: 1rem;
}
a{
    text-decoration: none;
}
@media (max-width: 767px) {

    .cambio{
      font-size: 2.5rem;
    }
    .navactive{
      background-color: rgba(0, 0, 0, 0.5) !important;
      height: 100vh;
      align-items: flex-start;
    } 
    #nav{
      padding: 20px;
      position: fixed;
      bottom: 150px;
      right: 40px;
      border-radius: 50%;
      background-color: #fff;
      border: none;
      box-shadow: 3px 2px 5px 4px rgba(0, 0, 0, 0.4);
    }
    .icon-menu{
      color: #000;
      font-size: 45px;
    }
    #navbarCollapse{
      position: fixed;
      bottom: 250px;
      right: 40px;
      background-color: #fff;
  
      box-shadow: 3px 2px 5px 4px rgba(0, 0, 0, 0.4);
    }
     .nav-link{
    color: #000 !important;
    font-weight: 700;
    }
    .nav-item{
      padding: 15px 50px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
    .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/NewLogo.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
#texto{
    font-family: var(--font-serif);
    font-style: italic;
    font-weight: 700;
    font-size: 2rem ;
    text-shadow: 2px 2px 4px #103f3d !important;
}
.ph{
    color: #fff;
    margin: 0px 0px 30px  !important;
    padding: 0px !important;
    font-size: 1.5rem;
    font-family: var(--font-opensans);
    font-weight: 500;
    text-shadow: 2px 2px 5px #103f3d;
    
}
.ph1{
    color: #fff;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 2rem;
    font-family: var(--font-opensans);
    font-weight: 700;
    text-shadow: 2px 2px 5px #103f3d;
}
.icon-circle-down{
    font-size: 1rem;
    color: #fff;
}
.icon-circle-down:hover{
    color: #103f3d;
}
.textlogo{
    margin-left: 50px;
    font-size: 1rem;
}
.navbar{
    background-color: rgba(255, 255, 255, 0.9) !important;
}
.navbar ul li a{
    color: #000 !important;
    font-weight: 700;
    font-family: var(--font-roboto);
    text-shadow: 1px 1px 2px #103f3d;
}
.navbar ul li a:hover{
    text-shadow: 1.5px 1.5px 3px #103f3d;
}
.nav-link:hover{
    font-size: 1.05rem;
}
.info{
    position: absolute;
    bottom: 0;
  }
.tc{
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-weight: 700;
}
.foto{
    margin-top: 1rem  ;
    height: 250px;
    width: 200px;
    border-radius: 50%;
    border: 2px !important;
    border-color: #103f3d;
}
.h2c{
    color: #000;
    font-family: var(--font-oswald);
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 0.5rem;
}
.pcn{
    color: #000;
    font-family: var(--font-oswald);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    margin-top: 0.5rem;
}
.feature{
    box-shadow: 2px 2px 5px 3px #000;
    margin: 0px;
    padding: 1rem;
}
.feature p{
    justify-content: baseline;
}
.feature span{
    font-size: 2.5rem;
    color: #103f3d;
}
#featured-3{
    padding: 1rem 0.5rem !important;
}
.phab{
    color: #707077;
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 500;
}
.jtp1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Proyecto\ 1.png);
}
.jtp2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Proyecto\ 2.png);
}
.jtp3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Proyecto\ 3.png);
}
.tcs{
    font-family: var(--font-serif);
    font-size: 2rem;
    font-weight: 700;
}
.h2s{
    color: #000;
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-weight: 500;
}
.boton{
    font-size: 1rem;
    font-family: var(--font-serif);
    margin-top: 25px;
    padding: 6px;
    background-color: #103f3d;
    border: none;
    border-radius: 10px;
    color: #fff;
    box-shadow: 2px 2px 3px 2px #103f3d;
}
.boton:hover{
    color: #000;
    background-color: #fff;
}
.txtp{
    font-size: 1.2rem;
    font-family: var(--font-roboto);
    font-weight: 700;
}
.btn{
    font-weight: 600;
    border: 2px solid;
    border-color: #103f3d;
}
.jbt{
    box-shadow: 2px 2px 5px 2px #103f3d;
    border: solid  !important;
}
.btn:hover{
    box-shadow: 1.5px 2px 4px #103f3d;
    color: #103f3d;
    border: 2px solid;
    border-color: #103f3d;
}
.redes span{
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 100%;
    display: inline-block;
    justify-content: center;
    text-shadow: 2px 2px 3px #103f3d;
}
 .redes span:hover{
     color: #103f3d;
     text-shadow: 2px 2px 5px #000;
 }
.parrafo{
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    color: #fff;
}
.pf{
    font-family: var(--font-serif);
    font-style: italic;
    font-weight: 700;
    font-size: 2rem ;
    text-shadow: 2px 2px 5px #103f3d !important;
    color: #fff;
}
.pr{
    font-style: italic;
    margin: 0px;
}
.redes p span{
    padding: 0;
    font-size: 1.5rem;
    list-style: inside;
    color: #fff;
    background-color: #0014ff;
}